@model PagedList.IPagedList<WebFig.Models.OrderDetail>
@using PagedList.Mvc;
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table style="margin-top:200px" class="table">
        <tr>

            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Hình
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Product.ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img width="100px" src=" @Html.DisplayFor(modelItem => item.Product.hinh)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>


            </tr>
        }

    </table>
    <div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
            @Model.PageCount
        </div>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("DSDonHang", new
            {
                page = page
            }))
        </div>
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
